@media only screen and (min-width: 0px) {
  body {
    background: #F5781D;
    margin: 0;
    /* padding: 0;
  font-family: Arial, sans-serif;
   */
    overflow-x: hidden;
    width: 100%
  }

  /* .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
} */

  /* .container-caption {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
} */


  /* .startup-name { */
  /* font-size: 24px;  */
  /* Adjust size as needed */
  /* } */

  /* .fixed-header,  */
  .fixed-footer {
    width: 100%;

    background: #FED18D;
    /* padding: 10px 0; */
    color: #fff;
    padding-bottom: 15px;

  }

  /* .header-color {
  background: #FED18D;
} */

  /* .fixed-header{
  top: 0;
} */

  /* .fixed-footer{
  bottom: 0;
}    */

  /* .a { text-indent: -30em; } */

  h1 {
    color: #FFFFFF;
    text-align: center;
    /* margin-top: 200px;  */
  }

  /* p {
  color: #FFFFFF;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
} */

  /* .cta-button {
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  background-color: #FFFFFF;
  color: #F5781D;
  text-align: center;
  font-size: 24px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.cta-button:hover {
  background-color: #F5781D;
  color: #FFFFFF;
} */

  .center {
    margin: auto;
    width: 50%;
    /* border: 3px solid green; */
    padding: 10px;
  }

  /* 
bodyTestimonial {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
 
}
.header-container {
  
  background-color: #912f37;
}
.testimonial {
  flex: 0 0 auto;
  border-radius: 25px;
  width: 300px;
  padding: 20px;
  text-align: center;
  background-color: #FED18D;
  margin: 0 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.testimonial h3 {
  font-size: 18px;
  color: #333333;
  margin: 0;
}
.testimonial p {
  font-size: 16px;
  color: #777777;
  margin-top: 10px;
} */

  /* .playstore-button {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #912f37;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
}
.playstore-button img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.playstore-button:hover {
  background-color: #FED18D;
} */

  /* style.css */

  /* Reset default margin and padding */
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
    padding: 0;
  }

  /* Define font styles */
  body {
    font-family: Arial, sans-serif;
  }

  /* Header styles */
  header {
    background-color: #FED18D;
    /* Replace with your desired background color */
    padding: 20px;
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    width: 40px;
    /* Adjust size as needed */
    height: 40px;
    /* Adjust size as needed */
    margin-right: 10px;
  }

  /* .startup-name { */
  /* font-size: 24px;  */
  /* Adjust size as needed */
  /* } */


  .carousel-item img {
    height: 600px;
    object-fit: cover;
    /* width: 50%; */
  }
}